.icon-sprite, .ascending, .descending, a.tabledrag-handle .handle, tr.drag a.tabledrag-handle .handle, a.tabledrag-handle-hover .handle {
  background: url('../img/icon-s69f8637a0d.png') no-repeat;
}

.sort {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.sort {
  *display: inline;
}

.ascending {
  background-position: 0 -4750px;
  height: 16px;
  width: 16px;
}

.descending {
  background-position: 0 -5066px;
  height: 16px;
  width: 16px;
}

th.active {
  white-space: nowrap;
}

.draggable a.tabledrag-handle {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: bottom;
}
.draggable a.tabledrag-handle {
  *display: inline;
}

a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background-position: 0 -2222px;
  height: 16px;
  width: 16px;
  margin-top: 0;
}
tr.drag a.tabledrag-handle .handle {
  background-position: 0 -1906px;
}

a.tabledrag-handle-hover .handle {
  background-position: 0 -3170px;
}

tr.draggable td:first-child {
  white-space: nowrap;
}

a.tabledrag-toggle-weight {
  margin-right: 0;
}

.tabledrag-toggle-weight-wrapper {
  font-size: 0.846em;
  margin-bottom: 1em;
}

#toolbar-home {
  float: left;
}

.admin-list a {
  text-decoration: none;
}
