.sort {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.sort {
  *display: inline;
}

th.active {
  white-space: nowrap;
}

.draggable a.tabledrag-handle {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: bottom;
}
.draggable a.tabledrag-handle {
  *display: inline;
}

a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  margin-top: 0;
}

tr.draggable td:first-child {
  white-space: nowrap;
}

a.tabledrag-toggle-weight {
  margin-right: 0;
}

.tabledrag-toggle-weight-wrapper {
  font-size: 0.846em;
  margin-bottom: 1em;
}

#toolbar-home {
  float: left;
}

.admin-list a {
  text-decoration: none;
}
