.icon-sprite {
  background: url('../img/icon-s895b624d63.png') no-repeat;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("http://themery/sites/all/themes/base/lib/box-sizing/boxsizing.htc");
}

/* Adapted from: normalize.css 2011-09-22 - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  text-decoration: underline;
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}
blockquote:first-child {
  margin-top: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre,
.codeblock {
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 1em 0;
}
dl:first-child {
  margin-top: 0;
}
dl:only-child {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0 1em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  vertical-align: top;
  text-align: left;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button,
input,
select,
textarea,
input[type="file"]::-webkit-file-upload-button {
  font-size: 99%;
  font-family: sans-serif;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[disabled], select[disabled], textarea[disabled], button[disabled],
input[disabled] + label {
  cursor: not-allowed;
}

#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: white;
  color: black;
  cursor: default;
  white-space: pre;
}

html.js input.form-autocomplete {
  background-image: url(/misc/throbber.gif);
  background-position: 100% 2px;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}

.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
}

.resizable-textarea .grippie {
  background: #eeeeee url(/misc/grippie.png) no-repeat center 2px;
  border: 1px solid #dddddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

body.drag {
  cursor: move;
}

.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin: -0.4em 0 -0.4em -0.5em;
  padding: 0.42em 1.5em 0.42em 0.5em;
  text-decoration: none;
}

a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(/misc/draggable.png) no-repeat 0 0;
  height: 13px;
  margin-top: 4px;
  width: 13px;
}

a.tabledrag-handle-hover .handle {
  background-position: 0 -20px;
}

div.indentation {
  float: left;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  padding: 0.42em 0 0.42em 0.6em;
  width: 20px;
}
div.indentation.tree-child {
  background: url(/misc/tree.png) no-repeat 11px center;
}
div.indentation.tree-child-last {
  background: url(/misc/tree-bottom.png) no-repeat 11px center;
}
div.indentation.tree-child-horizontal {
  background: url(/misc/tree.png) no-repeat -11px center;
}

.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

table.sticky-header {
  background-color: white;
  margin-top: 0;
}

.progress .bar {
  background-color: white;
  border: 1px solid;
}
.progress .filled {
  background-color: black;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right;
}

.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}

.ajax-progress-bar {
  width: 16em;
}

.container-inline div, .container-inline label {
  display: inline;
}
.container-inline .fieldset-wrapper {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden, .element-hidden {
  display: none;
  visibility: hidden;
}

.invisible, .element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.invisible.focusable:active,
.invisible.focusable:focus,
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.resizable textarea {
  resize: vertical;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
