.icon-sprite, .actions-multiple h2, .block-search input.form-submit, .search-form input.form-submit {
  background: url('../img/icon-s69f8637a0d.png') no-repeat;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
}
label.option {
  font-weight: normal;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
label.option {
  *display: inline;
}

.form-control {
  *zoom: 1;
  margin: 1em 0;
  position: relative;
}
.form-control:after {
  content: "";
  display: table;
  clear: both;
}
td .form-control {
  margin: 0;
}

.form-text,
.form-textarea,
.form-password,
.form-select {
  border: solid 1px #dddddd;
  max-width: 100%;
}

.form-text,
.form-textarea,
.form-password {
  padding: 0.375em;
}

.form-submit,
.form-actions a,
input[type="file"]::-webkit-file-upload-button {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #4fb1d6;
  background-image: linear-gradient(#247a9b, #4fb1d6);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  line-height: 1;
  margin: 0 0.5em 0 0;
  outline: none;
  padding: 0.5em 1em;
  text-decoration: none;
  white-space: nowrap;
}
.form-submit,
.form-actions a,
input[type="file"]::-webkit-file-upload-button {
  *display: inline;
}
.form-submit:hover, .form-submit:visited, .form-submit:focus, .form-submit:active,
.form-actions a:hover,
.form-actions a:visited,
.form-actions a:focus,
.form-actions a:active,
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::-webkit-file-upload-button:visited,
input[type="file"]::-webkit-file-upload-button:focus,
input[type="file"]::-webkit-file-upload-button:active {
  background-color: #247a9b;
  background-image: linear-gradient(#1a5a72, #247a9b);
  color: white;
  text-decoration: none;
}
.form-submit:first-child,
.form-actions a:first-child,
input[type="file"]::-webkit-file-upload-button:first-child {
  font-weight: bold;
}
.form-submit::-moz-focus-inner,
.form-actions a::-moz-focus-inner,
input[type="file"]::-webkit-file-upload-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-item .description {
  color: #777777;
  font-size: 0.923em;
  margin-top: 4px;
}

.form-actions {
  padding: 1em 0;
}

.form-required {
  color: #cc0000;
}

input[disabled], select[disabled], textarea[disabled], button[disabled],
input[disabled] + label {
  cursor: not-allowed;
}

.messages {
  *zoom: 1;
  background-color: #bedb82;
  line-height: 1.6;
  border-bottom: solid 1px rgba(137, 179, 51, 0.8);
  padding: 20px;
}
.messages:after {
  content: "";
  display: table;
  clear: both;
}
.messages + .messages {
  border-top: none;
}
.messages a {
  color: inherit;
  border-bottom: dotted 1px;
  padding-bottom: 2px;
  text-decoration: none;
}

.error {
  background-color: #f14a29;
  color: white;
}
.error h2 {
  background-color: rgba(201, 38, 13, 0.8);
}

.warning {
  background-color: #ffe375;
  border-color: rgba(236, 188, 0, 0.8);
  color: #111111;
}
.warning h2 {
  background-color: rgba(236, 188, 0, 0.8);
}

.tasks {
  position: relative;
  min-height: 32px;
}
.tasks * html .tasks {
  height: 32px;
}

nav.tabs {
  margin: 16px 0;
  position: relative;
}

ul.tabs {
  margin: 0;
  padding: 0;
}

.tabs li {
  float: left;
  height: 32px;
  margin-bottom: 0;
  padding: 0;
}

ul.primary {
  border-bottom: solid 1px #dddddd;
}

.primary a {
  background: whitesmoke;
  border: solid 1px #dddddd;
  border-width: 1px 1px 0 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 31px;
  line-height: 32px;
  margin: 0;
  padding: 0 20px;
  position: relative;
}
.primary a:hover, .primary a:focus, .primary a.active {
  border-left-width: 1px;
  border-radius: 2px 2px 0 0;
  height: 32px;
  margin: -4px 0 0 -1px;
  padding-top: 4px;
}
.primary a:hover, .primary a:focus {
  background-color: #eeeeee;
}
.primary a.active {
  background: white;
}
.primary li:first-child a {
  border-width: 1px 1px 0 1px;
  border-radius: 2px 0 0 0;
}
.primary li:first-child a.active {
  margin-left: 0;
  font-weight: bold;
}
.primary li:last-child a {
  border-radius: 0 2px 0 0;
}

* html .primary a {
  float: left;
}

ul.secondary {
  font-size: 0.923em;
  padding: 1em 0;
}

.secondary li {
  margin: 0 2px 0 0;
}
.secondary a {
  float: left;
  line-height: 30px;
  padding: 0 12px;
  width: auto;
}
.secondary a:hover, .secondary a:focus, .secondary a.active {
  font-weight: bold;
}

.actions {
  background-color: #111111;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -4px;
  right: 0;
  zoom: 1;
}
.actions .wrap {
  padding: 8px 16px;
}

ul.action-links {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-align: right;
}
ul.action-links:hover {
  z-index: 900;
}

.action-links li {
  display: none;
  line-height: 1;
  margin: 0;
  padding: 0 8px 0 0;
}
.action-links li:first-child, .action-links li.first {
  display: inline-block;
}
.action-links:hover li, .active .action-links {
  display: block;
  margin-bottom: 4px;
}
.action-links a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 4px 0;
}
.action-links a, .action-links a:visited {
  color: white;
}
.action-links a {
  *display: inline;
}

.actions-multiple:hover {
  border-radius: 4px;
}
.actions-multiple h2 {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -4118px;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 10px;
}

.actions-single .action-links li {
  padding-right: 0;
  margin-bottom: 0;
}

ul.pager {
  border-radius: 3px;
  line-height: 2;
  list-style: none;
  margin: 1em 0;
  padding-left: 0;
  overflow: hidden;
  *zoom: 1;
}

.pager li {
  border: solid 1px #eeeeee;
  border-left-width: 0;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pager li.first {
  border-left-width: 1px;
}
.pager a, .pager .pager-current, .pager .pager-ellipsis {
  padding: 0 12px;
}
.pager a {
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.pager a {
  *display: inline;
}

.block-search, .search-form {
  text-align: center;
}
.block-search .container-inline, .search-form .container-inline {
  *zoom: 1;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
  width: 100%;
  max-width: 320px;
}
.block-search .container-inline:after, .search-form .container-inline:after {
  content: "";
  display: table;
  clear: both;
}
.block-search .container-inline, .search-form .container-inline {
  *display: inline;
}
.block-search input.form-text, .search-form input.form-text {
  float: left;
  height: 32px;
  padding-right: 36px;
  width: 100%;
}
.block-search input.form-submit, .search-form input.form-submit {
  background-position: 8px -941px;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.block-search input.form-submit:hover, .block-search input.form-submit:focus, .block-search input.form-submit:active, .search-form input.form-submit:hover, .search-form input.form-submit:focus, .search-form input.form-submit:active {
  border: none;
  cursor: pointer;
}

.search-form input.form-submit {
  top: 1.231em;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: Monaco, monospace, serif;
  font-size: 0.875em;
}

a, a:visited {
  color: #4fb1d6;
}
a:hover, a:focus {
  color: #2e9bc4;
}
a:active, a.active, .active-trail a {
  color: #78c3e0;
}

table {
  width: 100%;
}

table, td, th {
  border: solid 1px #eeeeee;
  border-width: 1px 0 0 1px;
}

thead {
  background-color: whitesmoke;
}

td, th {
  border-width: 0 1px 1px 0;
  padding: 6px;
  vertical-align: top;
  text-align: left;
}

th {
  border-color: #dddddd;
}

td {
  border-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1;
  padding: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

ul, ol {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul:after, ol:after {
  content: "";
  display: table;
  clear: both;
}

dt {
  font-size: 1.077em;
  margin-top: 1em;
}

.submitted {
  color: #777777;
  margin: 1em 0;
}

article {
  margin: 0 0 40px 0;
}

p {
  margin: 1.25em 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
