.icon-sprite, .actions-multiple h2, .block-search input.form-submit, .search-form input.form-submit {
  background: url('../img/icon-s895b624d63.png') no-repeat;
}

@media screen and (min-device-width: 768px) {
  .container {
    *zoom: 1;
    margin: auto;
    width: 980px;
    max-width: 100%;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .one-sidebar .column-first,
  .one-sidebar .column-second {
    display: inline;
    float: left;
    width: 22.449%;
    margin-right: 2.041%;
  }
  .one-sidebar .column-main {
    display: inline;
    float: left;
    width: 71.429%;
    margin-right: 2.041%;
  }

  .sidebar-first .column-first {
    margin-left: 2.041%;
  }
  .sidebar-first .column-main {
    display: inline;
    float: right;
    margin-right: 2.041%;
    #margin-left: -20px;
  }

  .sidebar-second .column-second {
    display: inline;
    float: right;
    margin-right: 2.041%;
    #margin-left: -20px;
  }
  .sidebar-second .column-main {
    margin-left: 2.041%;
  }

  .two-sidebars .column-first {
    display: inline;
    float: left;
    width: 22.449%;
    margin-right: 2.041%;
    position: relative;
    left: -48.98%;
    margin-left: 2.041%;
  }
  .two-sidebars .column-main {
    display: inline;
    float: left;
    width: 46.939%;
    margin-right: 2.041%;
    position: relative;
    left: 26.531%;
  }
  .two-sidebars .column-second {
    display: inline;
    float: left;
    width: 22.449%;
    margin-right: 2.041%;
    display: inline;
    float: right;
    margin-right: 2.041%;
    #margin-left: -20px;
  }

  .no-sidebars .column-main {
    *zoom: 1;
    margin: auto;
    width: 980px;
    max-width: 100%;
  }
  .no-sidebars .column-main:after {
    content: "";
    display: table;
    clear: both;
  }
  .no-sidebars .wrap {
    clear: both;
    margin-left: 2.041%;
    margin-right: 2.041%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .one-sidebar .column-first,
  .one-sidebar .column-second,
  .one-sidebar .column-main {
    *zoom: 1;
    margin: auto;
    width: 980px;
    max-width: 100%;
  }
  .one-sidebar .column-first:after,
  .one-sidebar .column-second:after,
  .one-sidebar .column-main:after {
    content: "";
    display: table;
    clear: both;
  }
  .one-sidebar .column-first .wrap,
  .one-sidebar .column-second .wrap,
  .one-sidebar .column-main .wrap {
    clear: both;
    margin-left: 2.041%;
    margin-right: 2.041%;
  }
}
fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
}
label.option {
  font-weight: normal;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
label.option {
  *display: inline;
}

.form-control {
  *zoom: 1;
  margin: 1em 0;
  position: relative;
}
.form-control:after {
  content: "";
  display: table;
  clear: both;
}
td .form-control {
  margin: 0;
}

.form-text,
.form-textarea,
.form-password,
.form-select {
  border: solid 1px #dddddd;
}

.form-text,
.form-textarea,
.form-password {
  padding: 0.375em;
}

.form-submit,
.form-actions a,
input[type="file"]::-webkit-file-upload-button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #4fb1d6;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb1d6), color-stop(100%, #247a9b));
  background-image: -webkit-linear-gradient(#4fb1d6, #247a9b);
  background-image: -moz-linear-gradient(#4fb1d6, #247a9b);
  background-image: -o-linear-gradient(#4fb1d6, #247a9b);
  background-image: -ms-linear-gradient(#4fb1d6, #247a9b);
  background-image: linear-gradient(#4fb1d6, #247a9b);
  line-height: 1;
  margin: 0 0.5em 0 0;
  outline: none;
  padding: 0.5em 1em;
  text-decoration: none;
  white-space: nowrap;
}
.form-submit,
.form-actions a,
input[type="file"]::-webkit-file-upload-button {
  *display: inline;
}
.form-submit:hover, .form-submit:visited, .form-submit:focus, .form-submit:active,
.form-actions a:hover,
.form-actions a:visited,
.form-actions a:focus,
.form-actions a:active,
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::-webkit-file-upload-button:visited,
input[type="file"]::-webkit-file-upload-button:focus,
input[type="file"]::-webkit-file-upload-button:active {
  background-color: #247a9b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #247a9b), color-stop(100%, #1a5a72));
  background-image: -webkit-linear-gradient(#247a9b, #1a5a72);
  background-image: -moz-linear-gradient(#247a9b, #1a5a72);
  background-image: -o-linear-gradient(#247a9b, #1a5a72);
  background-image: -ms-linear-gradient(#247a9b, #1a5a72);
  background-image: linear-gradient(#247a9b, #1a5a72);
  color: white;
  text-decoration: none;
}
.form-submit:first-child,
.form-actions a:first-child,
input[type="file"]::-webkit-file-upload-button:first-child {
  font-weight: bold;
}
.form-submit::-moz-focus-inner,
.form-actions a::-moz-focus-inner,
input[type="file"]::-webkit-file-upload-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-item .description {
  color: #777777;
  font-size: 0.923em;
  margin-top: 4px;
}

.form-actions {
  padding: 1em 0;
}

.form-required {
  color: #cc0000;
}

.messages {
  *zoom: 1;
  background-color: #bedb82;
  line-height: 1.6;
  border-bottom: solid 1px rgba(137, 179, 51, 0.8);
  padding: 20px;
}
.messages:after {
  content: "";
  display: table;
  clear: both;
}
.messages + .messages {
  border-top: none;
}
.messages a {
  color: inherit;
  border-bottom: dotted 1px;
  padding-bottom: 2px;
  text-decoration: none;
}

.error {
  background-color: #f14a29;
  color: white;
}
.error h2 {
  background-color: rgba(201, 38, 13, 0.8);
}

.warning {
  background-color: #ffe375;
  border-color: rgba(236, 188, 0, 0.8);
  color: #111111;
}
.warning h2 {
  background-color: rgba(236, 188, 0, 0.8);
}

.tasks {
  *zoom: 1;
  position: relative;
  min-height: 32px;
}
.tasks:after {
  content: "";
  display: table;
  clear: both;
}
.tasks * html .tasks {
  height: 32px;
}

nav.tabs {
  margin: 16px 0;
  position: relative;
}

ul.tabs {
  *zoom: 1;
  margin: 0;
  padding: 0;
}
ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}
ul.tabs li {
  float: left;
  height: 32px;
  margin-bottom: 0;
  padding: 0;
}

ul.primary {
  border-bottom: solid 1px #dddddd;
}
ul.primary a {
  background: whitesmoke;
  border: solid 1px #dddddd;
  border-width: 1px 1px 0 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 31px;
  line-height: 32px;
  margin: 0;
  padding: 0 20px;
  position: relative;
}
ul.primary a:hover, ul.primary a:focus {
  background-color: #eeeeee;
}
ul.primary a.active {
  background: white;
  border-left-width: 1px;
  border-radius: 2px 2px 0 0;
  height: 32px;
  margin: -4px 0 0 -1px;
  padding-top: 4px;
}
ul.primary li:first-child a {
  border-width: 1px 1px 0 1px;
  border-radius: 2px 0 0 0;
}
ul.primary li:first-child a.active {
  margin-left: 0;
  font-weight: bold;
}
ul.primary li:last-child a {
  border-radius: 0 2px 0 0;
}

* html ul.primary a {
  float: left;
}

ul.secondary {
  font-size: 0.923em;
  padding: 1em 0;
}
ul.secondary li {
  margin: 0 2px 0 0;
}
ul.secondary a {
  float: left;
  line-height: 30px;
  padding: 0 12px;
  width: auto;
}
ul.secondary a:hover, ul.secondary a:focus, ul.secondary a.active {
  font-weight: bold;
}

.actions {
  background-color: #111111;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -4px;
  right: 0;
  zoom: 1;
}
.actions .wrap {
  padding: 8px 16px;
}

ul.action-links {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-align: right;
}
ul.action-links:hover {
  z-index: 900;
}
ul.action-links li {
  display: none;
  line-height: 1;
  margin: 0;
  padding: 0 8px 0 0;
}
ul.action-links li:first-child, ul.action-links li.first {
  display: inline-block;
}
ul.action-links:hover li, .active ul.action-links {
  display: block;
  margin-bottom: 4px;
}
ul.action-links a {
  color: white;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 4px 0;
}
ul.action-links a {
  *display: inline;
}

.actions-multiple:hover {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.actions-multiple h2 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-position: 0 -5066px;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 10px;
}

.actions-single ul.action-links li {
  padding-right: 0;
  margin-bottom: 0;
}
.actions-single h2 {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

ul.pager {
  border-radius: 3px;
  line-height: 2;
  list-style: none;
  margin: 1em 0;
  padding-left: 0;
  overflow: hidden;
  *zoom: 1;
}

ul.pager li {
  border: solid 1px #eeeeee;
  border-left-width: 0;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.pager li.first {
  border-left-width: 1px;
}
ul.pager a, ul.pager .pager-current, ul.pager .pager-ellipsis {
  padding: 0 12px;
}
ul.pager a {
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
ul.pager a {
  *display: inline;
}

.block-search, .search-form {
  text-align: center;
}
.block-search .container-inline, .search-form .container-inline {
  position: relative;
  width: 100%;
  max-width: 320px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
}
.block-search .container-inline, .search-form .container-inline {
  *display: inline;
}
.block-search .container-inline:after, .search-form .container-inline:after {
  content: "";
  display: table;
  clear: both;
}
.block-search input.form-text, .search-form input.form-text {
  float: left;
  height: 32px;
  padding-right: 36px;
  width: 100%;
}
.block-search input.form-submit, .search-form input.form-submit {
  background-position: 0 -4750px;
  background-position: 8px -4743px;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  border: none;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.block-search input.form-submit:hover, .block-search input.form-submit:focus, .block-search input.form-submit:active, .search-form input.form-submit:hover, .search-form input.form-submit:focus, .search-form input.form-submit:active {
  border: none;
  cursor: pointer;
}

.search-form input.form-submit {
  top: 1.231em;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: Monaco, monospace, serif;
  font-size: 0.875em;
}

a {
  color: #4fb1d6;
}
a:visited {
  color: #64badb;
}
a:focus {
  color: #2e9bc4;
}
a:hover {
  color: #2e9bc4;
}
a.active, a:active {
  color: #78c3e0;
}

ul {
  *zoom: 1;
}
ul:after {
  content: "";
  display: table;
  clear: both;
}

.icon {
  display: none;
  visibility: hidden;
}

.branding {
  display: inline;
  float: left;
  width: 46.939%;
  margin-right: 2.041%;
  margin-left: 2.041%;
}

.submitted {
  color: #777777;
  margin: 1em 0;
}

article {
  margin: 0 0 40px 0;
}

p {
  margin: 1.25em 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
}

table, td, th {
  border: solid 1px #eeeeee;
  border-width: 1px 0 0 1px;
}

thead {
  background-color: whitesmoke;
}

td, th {
  padding: 6px;
  border-width: 0 1px 1px 0;
}

th {
  border-color: #dddddd;
}

td {
  border-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1;
  padding: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

.main-menu {
  margin: 1em 0;
  text-align: center;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.main-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
}
.main-menu ul li {
  *display: inline;
}

.breadcrumbs {
  margin: 1em 0;
}

dt {
  font-size: 1.077em;
  margin-top: 1em;
}
