@import base

// Tablesort
//------------------------------------------------------------------------------
.sort
  +inline-block
  +hide-text

.ascending
  +icon-sprite(arrow-down, true)

.descending
  +icon-sprite(arrow-up, true)

th.active
  white-space: nowrap


// Tabledrag
//------------------------------------------------------------------------------
.draggable a.tabledrag-handle
  +inline-block
  margin: 0 5px 0 0
  padding: 0
  vertical-align: bottom

a.tabledrag-handle
  &:hover
    text-decoration: none
  .handle
    +icon-sprite(crosshair-gray, true)
    margin-top: 0
    tr.drag &
      +icon-sprite(crosshair-blue)

a.tabledrag-handle-hover .handle
  +icon-sprite(crosshair)

tr.draggable td:first-child
  white-space: nowrap

a.tabledrag-toggle-weight
  @extend .form-submit
  margin-right: 0

.tabledrag-toggle-weight-wrapper
  font-size: 0.846em
  margin-bottom: 1em


// Toolbar
//------------------------------------------------------------------------------
#toolbar-home
  float: left


// Miscellaneous
//------------------------------------------------------------------------------
.admin-list
  a
    text-decoration: none
