@import libraries/normalize/normalize
@import theme
@import drupal/system

// Box Sizing
//------------------------------------------------------------------------------

*, *:after,*:before
  +box-sizing(border-box)


// General
//------------------------------------------------------------------------------

.visuallyhidden
  @extend .visually-hidden

img
  height: auto
  max-width: 100%
  vertical-align: middle
  // Prevent max-width from affecting Google Maps (from Twitter Bootstrap).
  #map_canvas &
    max-width: none

.clearfix
  @extend %clearfix
