@import base-theme

@import layout/default
@import general/forms
@import drupal/messages
@import drupal/tabs
@import drupal/pagers
@import drupal/search


// General
//---------------------------------------------------------------------------

html
  +base-font-size()

body
  font-family: $sans-serif
  +font-size(13)
  line-height: $line-height
  padding: 0
  margin: 0
  word-wrap: break-word

pre, code, kbd, samp
  font-family: $monospace
  +font-size(11)

a
  +link-colors($link, $hover, $active)


// Tables
//---------------------------------------------------------------------------
table
  width: 100%
table, td, th
  border: solid 1px $border
  border-width: 1px 0 0 1px
thead
  background-color: #f5f5f5
td, th
  border-width: 0 1px 1px 0
  padding: 6px
  text-align: left
  vertical-align: top
th
  border-color: #ddd
td
  border-color: $border


// Headings
//---------------------------------------------------------------------------

#{headings()}
  font-weight: 400
  line-height: 1
  padding: 0

h1
  +font-size(36)
h2
  +font-size(30)
h3
  +font-size(24)
h4
  +font-size(20)
h5
  +font-size(16)
h6
  +font-size(14)


// Lists
//---------------------------------------------------------------------------

dt
  @extend h4
  margin-top: 1em


// Content
//---------------------------------------------------------------------------

.submitted
  color: $gray
  margin: 1em 0

article
  margin: 0 0 40px 0

p
  margin: 1.25em 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


// Admin
//---------------------------------------------------------------------------

#toolbar-home
  float: left
