@import base
@import base/layout

@import base/forms
@import base/messages
@import base/tabs
@import base/pagers
@import base/search


// General padding
//---------------------------------------------------------------------------

body
  font-family: Helvetica, arial, sans-serif
  font-size: 100%
  line-height: 1.4
  padding: 0
  margin: 0
  word-wrap: break-word

pre, code, kbd, samp
  font-family: Monaco, monospace, serif
  font-size: 0.875em

a
  +link-colors($link, $hover, $active)



// Tables
//---------------------------------------------------------------------------
table
  width:  100%
table, td, th
  border: solid 1px #eee
  border-width: 1px 0 0 1px
thead
  background-color: #f5f5f5
td, th
  border-width: 0 1px 1px 0
  padding: 6px
  vertical-align: top
  text-align: left
th
  border-color: #ddd
td
  border-color:  #eee


// Headings
//---------------------------------------------------------------------------

#{headings()}
  font-weight: 400
  line-height: 1
  padding: 0

h1
  font-size: 2.250em  // 36px
h2
  font-size: 1.875em  // 30px
h3
  font-size: 1.5em  // 24px
h4
  font-size: 1.25em  // 20px
h5, h6
  font-size: 1em  // 16px


// Lists
//---------------------------------------------------------------------------

ul, ol
  +pie-clearfix
  list-style: none
  margin: 0
  padding: 0

dt
  font-size: 1.077em
  margin-top: 1em



// Content
//---------------------------------------------------------------------------

.submitted
  color: #777
  margin: 1em 0

article
  margin: 0 0 40px 0

p
  margin: 1.25em 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
