[submodule "lib/box-sizing"]
	path = lib/box-sizing
	url = https://github.com/Schepp/box-sizing-polyfill.git
[submodule "lib/html5shiv"]
	path = lib/html5shiv
	url = https://github.com/aFarkas/html5shiv
[submodule "lib/normalize"]
	path = lib/normalize
	url = https://github.com/jacine/normalize.css.git
