[submodule "sass/libraries/box-sizing"]
	path = sass/libraries/box-sizing
	url = https://github.com/Schepp/box-sizing-polyfill.git
[submodule "js/libraries/html5shiv"]
	path = js/libraries/html5shiv
	url = https://github.com/aFarkas/html5shiv
[submodule "sass/libraries/normalize"]
	path = sass/libraries/normalize
	url = https://github.com/jacine/normalize.css.git
