// Visually hidden, but available for screen readers.
//------------------------------------------------------------------------------
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// !important is used to prevent unintentional overrides.
//
// This is the Boilerplate version and overrides the .element-invisible version
// that ships with Drupal because it's buggy.

=visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px


// Visually hidden, but available to screen readers and keyboard navigation.
//------------------------------------------------------------------------------
// Allows the element to be focusable when navigated to via the keyboard. This
// is typically used for skip links.
//
// This is the Boilerplate version and overrides the .element-focusable version
// that ships with Drupal because it's buggy.

=focusable
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static !important
  width: auto

// Hide
//------------------------------------------------------------------------------

=hidden
  display: none !important
  visibility: hidden


// Override +link-colors mixin.
// @see http://compass-style.org/reference/compass/typography/links/link_colors/
//------------------------------------------------------------------------------
=link-colors($normal, $hoverfocus: false, $active: false)
  &, &:visited
    color: $normal
  @if $hoverfocus
    &:hover, &:focus
      color: $hoverfocus
  @if $active
    &:active, &.active
      color: $active


// Stretch
//------------------------------------------------------------------------------

=stretch
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0


// Text bubble
// - Border and arrow width dimensions work best with even numbers.
//------------------------------------------------------------------------------

=text-bubble($border-width: 1px, $arrow-width: 20px, $position: 50%, $background: $box-background, $border: $box-border)
  +border-radius(6px)
  background: $background
  border: $border-width solid $border
  padding: 10px
  position: relative
  &:after, &:before
    border: solid transparent
    border-color: transparent
    content: ""
    height: 0
    left: $position
    pointer-events: none
    position: absolute
    width: 0
    top: 100%
  &:after
    border-top-color: $background
    border-width: $arrow-width
    margin-left: 0 - $arrow-width
  &:before
    border-top-color: $border
    border-width: $arrow-width  + $border-width + ($border-width / 2)
    margin-left: 0 - ($arrow-width  + $border-width + ($border-width / 2))


// Mixin to add nested media queries.
// See https://gist.github.com/1215856 + http://vimeo.com/32611202
//------------------------------------------------------------------------------

=respond-to($media)
  @if $media == handhelds
    @media only screen and (max-width: 479px)
      @content
  @else if $media == wide-handhelds
    @media only screen and (min-width: 480px) and (max-width: 767px)
      @content
  @else if $media == tablets
    @media only screen and (min-width: 768px) and (max-width: 959px)
      @content
