@charset "UTF-8";

/* Symbolset
   www.symbolset.com
   Copyright © 2012 Oak Studios LLC
*/

@font-face {
  font-family: "SSStandard";
  src: url('../fonts/symbolset/ss-standard.eot');
  src: url('../fonts/symbolset/ss-standard.eot?#iefix') format('embedded-opentype'),
       url('../fonts/symbolset/ss-standard.woff') format('woff'),
       url('../fonts/symbolset/ss-standard.ttf')  format('truetype'),
       url('../fonts/symbolset/ss-standard.svg#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

%ss-icon {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  html:hover & {
    -ms-zoom: 1;
  }
}

%ss-cursor { @extend %ss-icon; content:'' }
%ss-crosshair { @extend %ss-icon; content:'⌖' }
%ss-search { @extend %ss-icon; content:'🔎' }
%ss-zoomin { @extend %ss-icon; content:'' }
%ss-zoomout { @extend %ss-icon; content:'' }
%ss-view { @extend %ss-icon; content:'👀' }
%ss-attach { @extend %ss-icon; content:'📎' }
%ss-link { @extend %ss-icon; content:'🔗' }
%ss-move { @extend %ss-icon; content:'' }
%ss-write { @extend %ss-icon; content:'✎' }
%ss-writingdisabled { @extend %ss-icon; content:'' }
%ss-erase { @extend %ss-icon; content:'✐' }
%ss-compose { @extend %ss-icon; content:'📝' }
%ss-lock { @extend %ss-icon; content:'🔒' }
%ss-unlock { @extend %ss-icon; content:'🔓' }
%ss-key { @extend %ss-icon; content:'🔑' }
%ss-backspace { @extend %ss-icon; content:'⌫' }
%ss-ban { @extend %ss-icon; content:'🚫' }
%ss-trash { @extend %ss-icon; content:'' }
%ss-target { @extend %ss-icon; content:'◎' }
%ss-tag { @extend %ss-icon; content:'' }
%ss-bookmark { @extend %ss-icon; content:'🔖' }
%ss-flag { @extend %ss-icon; content:'⚑' }
%ss-like { @extend %ss-icon; content:'👍' }
%ss-dislike { @extend %ss-icon; content:'👎' }
%ss-heart { @extend %ss-icon; content:'♥' }
%ss-halfheart { @extend %ss-icon; content:'' }
%ss-star { @extend %ss-icon; content:'⋆' }
%ss-halfstar { @extend %ss-icon; content:'' }
%ss-sample { @extend %ss-icon; content:'' }
%ss-crop { @extend %ss-icon; content:'' }
%ss-layers { @extend %ss-icon; content:'' }
%ss-fill { @extend %ss-icon; content:'' }
%ss-stroke { @extend %ss-icon; content:'' }
%ss-phone { @extend %ss-icon; content:'📞' }
%ss-phonedisabled { @extend %ss-icon; content:'' }
%ss-rss { @extend %ss-icon; content:'' }
%ss-facetime { @extend %ss-icon; content:'' }
%ss-reply { @extend %ss-icon; content:'↩' }
%ss-send { @extend %ss-icon; content:'' }
%ss-mail { @extend %ss-icon; content:'✉' }
%ss-inbox { @extend %ss-icon; content:'📥' }
%ss-chat { @extend %ss-icon; content:'💬' }
%ss-ellipsischat { @extend %ss-icon; content:'' }
%ss-ellipsis { @extend %ss-icon; content:'…' }
%ss-user { @extend %ss-icon; content:'👤' }
%ss-femaleuser { @extend %ss-icon; content:'👧' }
%ss-users { @extend %ss-icon; content:'👥' }
%ss-cart { @extend %ss-icon; content:'' }
%ss-creditcard { @extend %ss-icon; content:'💳' }
%ss-dollarsign { @extend %ss-icon; content:'💲' }
%ss-barchart { @extend %ss-icon; content:'📊' }
%ss-piechart { @extend %ss-icon; content:'' }
%ss-box { @extend %ss-icon; content:'📦' }
%ss-home { @extend %ss-icon; content:'⌂' }
%ss-buildings { @extend %ss-icon; content:'🏢' }
%ss-warehouse { @extend %ss-icon; content:'' }
%ss-globe { @extend %ss-icon; content:'🌎' }
%ss-navigate { @extend %ss-icon; content:'' }
%ss-compass { @extend %ss-icon; content:'' }
%ss-signpost { @extend %ss-icon; content:'' }
%ss-map { @extend %ss-icon; content:'' }
%ss-location { @extend %ss-icon; content:'' }
%ss-pin { @extend %ss-icon; content:'📍' }
%ss-database { @extend %ss-icon; content:'' }
%ss-hdd { @extend %ss-icon; content:'' }
%ss-music { @extend %ss-icon; content:'♫' }
%ss-mic { @extend %ss-icon; content:'🎤' }
%ss-volume { @extend %ss-icon; content:'🔈' }
%ss-lowvolume { @extend %ss-icon; content:'🔉' }
%ss-highvolume { @extend %ss-icon; content:'🔊' }
%ss-airplay { @extend %ss-icon; content:'' }
%ss-camera { @extend %ss-icon; content:'📷' }
%ss-picture { @extend %ss-icon; content:'🌄' }
%ss-video { @extend %ss-icon; content:'📹' }
%ss-play { @extend %ss-icon; content:'▶' }
%ss-pause { @extend %ss-icon; content:'' }
%ss-stop { @extend %ss-icon; content:'■' }
%ss-record { @extend %ss-icon; content:'●' }
%ss-rewind { @extend %ss-icon; content:'⏪' }
%ss-fastforward { @extend %ss-icon; content:'⏩' }
%ss-skipback { @extend %ss-icon; content:'⏮' }
%ss-skipforward { @extend %ss-icon; content:'⏭' }
%ss-eject { @extend %ss-icon; content:'⏏' }
%ss-repeat { @extend %ss-icon; content:'🔁' }
%ss-replay { @extend %ss-icon; content:'↺' }
%ss-shuffle { @extend %ss-icon; content:'🔀' }
%ss-book { @extend %ss-icon; content:'📕' }
%ss-openbook { @extend %ss-icon; content:'📖' }
%ss-notebook { @extend %ss-icon; content:'📓' }
%ss-newspaper { @extend %ss-icon; content:'📰' }
%ss-grid { @extend %ss-icon; content:'' }
%ss-rows { @extend %ss-icon; content:'' }
%ss-columns { @extend %ss-icon; content:'' }
%ss-thumbnails { @extend %ss-icon; content:'' }
%ss-filter { @extend %ss-icon; content:'' }
%ss-desktop { @extend %ss-icon; content:'💻' }
%ss-laptop { @extend %ss-icon; content:'' }
%ss-tablet { @extend %ss-icon; content:'' }
%ss-cell { @extend %ss-icon; content:'📱' }
%ss-battery { @extend %ss-icon; content:'🔋' }
%ss-highbattery { @extend %ss-icon; content:'' }
%ss-mediumbattery { @extend %ss-icon; content:'' }
%ss-lowbattery { @extend %ss-icon; content:'' }
%ss-emptybattery { @extend %ss-icon; content:'' }
%ss-lightbulb { @extend %ss-icon; content:'💡' }
%ss-downloadcloud { @extend %ss-icon; content:'' }
%ss-download { @extend %ss-icon; content:'' }
%ss-uploadcloud { @extend %ss-icon; content:'' }
%ss-upload { @extend %ss-icon; content:'' }
%ss-fork { @extend %ss-icon; content:'' }
%ss-merge { @extend %ss-icon; content:'' }
%ss-transfer { @extend %ss-icon; content:'⇆' }
%ss-refresh { @extend %ss-icon; content:'↻' }
%ss-sync { @extend %ss-icon; content:'' }
%ss-loading { @extend %ss-icon; content:'' }
%ss-wifi { @extend %ss-icon; content:'' }
%ss-connection { @extend %ss-icon; content:'' }
%ss-file { @extend %ss-icon; content:'📄' }
%ss-folder { @extend %ss-icon; content:'📁' }
%ss-quote { @extend %ss-icon; content:'“' }
%ss-text { @extend %ss-icon; content:'' }
%ss-font { @extend %ss-icon; content:'' }
%ss-print { @extend %ss-icon; content:'⎙' }
%ss-fax { @extend %ss-icon; content:'📠' }
%ss-list { @extend %ss-icon; content:'' }
%ss-layout { @extend %ss-icon; content:'' }
%ss-action { @extend %ss-icon; content:'' }
%ss-redirect { @extend %ss-icon; content:'↪' }
%ss-expand { @extend %ss-icon; content:'⤢' }
%ss-contract { @extend %ss-icon; content:'' }
%ss-help { @extend %ss-icon; content:'❓' }
%ss-info { @extend %ss-icon; content:'ℹ' }
%ss-alert { @extend %ss-icon; content:'⚠' }
%ss-caution { @extend %ss-icon; content:'⛔' }
%ss-logout { @extend %ss-icon; content:'' }
%ss-plus { @extend %ss-icon; content:'+' }
%ss-hyphen { @extend %ss-icon; content:'-' }
%ss-check { @extend %ss-icon; content:'✓' }
%ss-delete { @extend %ss-icon; content:'␡' }
%ss-settings { @extend %ss-icon; content:'⚙' }
%ss-dashboard { @extend %ss-icon; content:'' }
%ss-notifications { @extend %ss-icon; content:'🔔' }
%ss-notificationsdisabled { @extend %ss-icon; content:'🔕' }
%ss-clock { @extend %ss-icon; content:'⏲' }
%ss-stopwatch { @extend %ss-icon; content:'⏱' }
%ss-calendar { @extend %ss-icon; content:'📅' }
%ss-addcalendar { @extend %ss-icon; content:'' }
%ss-removecalendar { @extend %ss-icon; content:'' }
%ss-checkcalendar { @extend %ss-icon; content:'' }
%ss-deletecalendar { @extend %ss-icon; content:'' }
%ss-briefcase { @extend %ss-icon; content:'💼' }
%ss-cloud { @extend %ss-icon; content:'☁' }
%ss-droplet { @extend %ss-icon; content:'💧' }
%ss-flask { @extend %ss-icon; content:'' }
%ss-up { @extend %ss-icon; content:'⬆' }
%ss-upright { @extend %ss-icon; content:'⬈' }
%ss-right { @extend %ss-icon; content:'➡' }
%ss-downright { @extend %ss-icon; content:'⬊' }
%ss-down { @extend %ss-icon; content:'⬇' }
%ss-downleft { @extend %ss-icon; content:'⬋' }
%ss-left { @extend %ss-icon; content:'⬅' }
%ss-upleft { @extend %ss-icon; content:'⬉' }
%ss-navigateup { @extend %ss-icon; content:'' }
%ss-navigateright { @extend %ss-icon; content:'▻' }
%ss-navigatedown { @extend %ss-icon; content:'' }
%ss-navigateleft { @extend %ss-icon; content:'◅' }
%ss-directup { @extend %ss-icon; content:'▴' }
%ss-directright { @extend %ss-icon; content:'▹' }
%ss-dropdown { @extend %ss-icon; content:'▾' }
%ss-directleft { @extend %ss-icon; content:'◃' }
%ss-retweet { @extend %ss-icon; content:'' }
